/* ============= Header ============= */

h1 {
	margin: 5px;
	min-width: 550px;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

#profile {
	display: inline-block;
	padding: 15px 0px 0px 0px;
}

#title {
	display: inline-block;
	align-content: middle;
	font-family: Courier;
	font-weight: bold;
	font-size: 50px;
	text-align: left;
	padding: 15px 0px 0px 15px;
}