/* ============== Media Styles ================= */

figcaption {
	text-align: center;
	font-style: italic;
}

.center {
	text-align: center;
}

a {
	color: blue;
}

img, video {
	display: inline-block;
}
