/* ============= Header ============= */

h1 {
	margin: 5px;
	min-width: 550px;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

#profile {
	display: inline-block;
	padding: 15px 0px 0px 0px;
}

#title {
	display: inline-block;
	align-content: middle;
	font-family: Courier;
	font-weight: bold;
	font-size: 50px;
	text-align: left;
	padding: 15px 0px 0px 15px;
}

/* =========== Other Styles ============ */

h2 {
	font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	margin: 5px;
}

section {
	font-family: Helvetica;
	margin: 5px;
	padding: 5px 20px;
}

footer {
	font-family: Courier;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px 5px;
	min-width: 550px;
	float: bottom;
	clear: both;
}

figure {
	text-align: center;
	font-style: italic;
}

a {
	color: blue;
}

img, video {
	display: inline-block;
}

main {
	min-height: 345px;
}

/* ============= Geometric Partitions ============ */

.split {
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
}

.left_half {
	width: 50%;
	float: left;
}

.right_half {
	width: 50%;
	float: right;
}

.left_tri {
	width: 33%;
	float: left;
}

.middle_tri {
	width: 33%;
	float: middle;
}

.right_tri {
	width: 33%;
	float: right;
}