/* ============= Other Styles =========== */
h1 {
	font-family: Courier;
	font-weight: bold;
	font-size: 50px;
	text-align: left;
	border: 5px solid black;
	padding: 10px 15px;
	margin: 5px;
	min-width: 550px;
}

h2 {
	font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	margin: 5px;
}

section {
	font-family: Helvetica;
	margin: 5px;
	padding: 5px 20px;
}

footer {
	font-family: Courier;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px 5px;
	min-width: 550px;
	float: bottom;
	clear: both;
}

figure {
	text-align: center;
	font-style: italic;
}

a {
	color: blue;
}

img {
	border: 3px solid black;
}

.split {
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
}

.left_half {
	width: 50%;
	float: left;
}

.right_half {
	width: 50%;
	float: right;
}

.pad_li {
	padding: 5px 0px;
}